Django==4.1.13
djangorestframework==3.12.4
gunicorn==21.2.0
psycopg2-binary==2.9.1
django-allauth==0.61.1 
social-auth-app-django
uvicorn[standard]
reportlab==3.6.1
python-dotenv==1.0.0
django_eventstream==4.5.1
stripe
whitenoise
django-storages[azure] 
azure-storage-blob
mssql-django
