<!-- internal_login.html -->


{% block content %}
<form method="post" action="{% url 'internal_login' %}">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</form>
<script>
    document.getElementById("username").focus();
</script>

{% endblock %}
