{% extends "belonging/base.html" %}
{% load static %}
{% block content %}
<!-- involved.html -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Belonging Foundation</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div>
    <div class="feature-section" style="color:#333; border-width: 2px;
    border-style: solid;
    border-color: #333;">

        <div class="container" style="color:#333;">
          <h1>Are you trying to get involved?</h1>
          <p>The Belonging Foundation and it's vendors change the way we convert dreams into reality! Please give generously to ensure that dreamers can get to embrace their entrepreneurial spirit because of your support!
          </p>
        </div>
      </div>
    <div class="touts-container" style="padding: 50px; ">
        <div class="scholarship_row">
          <div class="feature-section" style="padding: 50px; border-width: 2px;
          border-style: solid;
          border-color: #333;">
            <div class="orange" style="color: #333;">
              <div><h2>Scholarship Opportunities</h2></div>
            </div>
          <br>
          <br>
          
            <div class="container; text-left" style="color:#333;">
              <div><h3>What Are Our Scholarships</h3></div>
          
              <br>
          
              <div><p>The Belonging Foundation provides more than just scholarships, it provides opportunities. We want to make sure the best of all opportunities, get the chance to shine bright!</p></div>
          
              <br><hr><br>
          
              <div><h3>Why Do We Have Scholarships?</h3></div>
          
              <br>
          
              <div><p>Our vision is to build a more connected community on a national scale that actively seeks to support those who have a spark they need help transforming into a roaring flame. 
                <br>
                <br>
              We're here to find out when one family can endure this much pain in one year, then how much good can we do with all of you in the same time period?</p></div>
          
              <br><hr><br>
              <div>
              <div><h3>How Do We Choose Our Scholarships?</h3></div>
          
              <br>
              
                  <div><p>
                    Our scholarship selection process involves several stages to ensure fairness and transparency:
                </p>
                
                <ol>
                    <li>
                        <strong>Application Review:</strong> We invite all applicants to complete a template. Our dedicated panel of judges, which includes volunteers and representatives from our organization, reviews all submissions via email.
                    </li>
                    <br>
                    <li>
                        <strong>Feedback and In-Person Pitch Round:</strong> Applicants in the top 22% receive valuable feedback. The top 50 finalists are invited for an in-person pitch round at a location to be determined. This step allows us to get to know our applicants better.
                    </li>
                    <br>
                    <li>
                        <strong>Scholarship Awards:</strong> Our goal is to offer substantial scholarships, with the top 10 winners receiving the highest awards. The distribution plan is as follows:
          <br>
                        <div><ol>
                            <li>Grand Prize: $25,000</li>
                            <li>Second Place: $15,000</li>
                            <li>Third Place: $9,000</li>
                            <li>The remaining $7,000 will be evenly distributed among the other 7 winners.</li>
                        </ol></div>
                    </li>
                </ol>
                <br>
          
              </div>
              </div>
          
              <br><hr><br>
          
              <div><h3>Who Can Apply?</h3></div>
              <br>
              <div><dl>
                <dt>High School Students</dt>
                <dd>Junior / Senior</dd>
                <dt>College Students</dt>
                <dd>Freshman / Sophomore</dd>
                <dt>Self-Identified Black Sheep</dt>
                <dd>This can be anyone of any age or education background. This individual <strong>must</strong> have a sponsor.</dd>
              </dl></div>
              <br>
              <div><h4><i>Note:</i> People who do not meet this criteria may still apply with a referral attached by third party.</h4></div>
              <div><i>DISCLAIMER:</i> Scholarship funds will not be distributed to personal bank accounts, peer-to-peer payment, or other individual fund transfer methods unless under special circumstances to be determined by the Foundation. Scholarships are payable to businesses/colleges/professional organizations confirmed by the Foundation's Board.</div>
            </div>   
          
              <br><hr><br>
          

 
            <p style="text-align: center;">Do you have an awesome idea that you'd like to see come true? Login to our Application portal to see what's available to you and apply!</p>
            <div>
              <a href="{% url 'applicant:login' %}" class="cta-button">Login To apply for a grant!</a>
          </div>
        </div>
        
        <br>
        <br>
      
        <div class="venue_row feature-section" style="padding-top: 50px; border-width: 2px;
          border-style: solid;
          border-color: #333;">

                    <h2>Vendor Opportunities</h2>
                    <p>There's lots of ways for individuals to get involved with our cause! Check out how you can be involved and support in all ways!</p>
                    <a href="{% url 'vendor:login' %}" class="cta-button">Login To Sell Your Shit!</a>
        </div>
          <br>
          <br>
        <div class="venue_row feature-section" style="border-width: 2px;
            border-style: solid;
            border-color: #333;">
                <h2>Venue Opportunities</h2>
                <p>There's lots of ways for individuals to get involved with our cause! Check out how you can be involved and support in all ways!</p>
                <a href="{% url 'venue:venue_login' %}" class="cta-button">Login To Get Promote Your Venue!</a>
        </div>
            <br>
            <br>
        <div class="venue_row feature-section" style=" border-width: 2px;
            border-style: solid;
            border-color: #333;">
                <h2>Donation Opportunities</h2>
                <p>There's lots of ways for individuals to get involved with our cause! Check out how you can be involved and support in all ways!</p>
                <a href="/donate/" class="cta-button">Click here to see how your donations will be used!</a>
           
        </div>
    </div>   
</div>
{% endblock %}