{% block content %}

<h1>Account Registration</h1>

<div class="signup-form">
    <h2>Let's Be Partners!</h2>
    <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        <div class="form-section" id="page1">
            <!-- Username is typically needed for UserCreationForm -->
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <!-- Phone number is not included by default in UserCreationForm -->
            <input type="text" name="phone_number" placeholder="Phone Number" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>          
            <div>
                <button type="submit">Submit Application</button>
            </div>
        </div> 
    </form>
</div>

<div id="g_id_onload"
    data-client_id="1002728390308-vak0cu5k7mba0jiuf3u70hrm35ivbjv4.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="http://localhost:8081/accounts/google/login/callback"
    data-itp_support="true">
</div>

<div class="g_id_signin"
    data-type="standard"
    data-shape="pill"
    data-theme="filled_blue"
    data-text="signup_with"
    data-size="large"
    data-logo_alignment="left">
</div>

<script>
  let currentSection = 0;
  const sections = document.querySelectorAll('.form-section');
  const totalSections = sections.length;


  function navigate(direction) {
      currentSection = Math.max(0, Math.min(currentSection + direction, totalSections - 1));
      showSection(currentSection);
  }

  document.addEventListener('DOMContentLoaded', () => {
      navigate(0);  // Show the first section
  });
</script>
<script src="https://accounts.google.com/gsi/client" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  
 <!-- Add a button or link for registration -->
 <div style="text-align: center; margin-top: 20px;">
    <p>Already have an account?</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Let's Login</a>
</div>
{% endblock %}
